body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ustawia minimalną wysokość na 100% widoczności strony */
}

html, body {
  height: 100%; /* Ustawia wysokość na 100% dla elementów html i body */
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 40% 30%; /* Pierwsza kolumna 10%, środkowa kolumna 80%, trzecia kolumna 10% */
  width: 100%; /* Ustawia szerokość na 100% szerokości body */
  flex-grow: 1; /* Umożliwia kontenerowi siatki rozciąganie się pionowo */
}

.sidebar {
  background-color: #f4f4f4; /* Kolor tła bocznych kolumn */
  height: 100%; /* Ustawia wysokość na 100% wysokości kontenera */
}

.content {
  background-color: #fff; /* Kolor tła środkowej kolumny */
  padding: 20px; /* Dodaje odstęp wewnętrzny */
  height: 100%; /* Ustawia wysokość na 100% wysokości kontenera */
  box-sizing: border-box; /* Uwzględnia obramowanie i padding w wymiarach */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item {
  display: block;
  position: relative;
  width: fit-content; /* Dopasowuje szerokość do zawartości */
}

.world {
  background-color: #008CBA; /* Kolor tła przycisku */
  color: white; /* Kolor tekstu przycisku */
  border: none; /* Brak obramowania */
  padding: 10px 20px; /* Wewnętrzne odstępy */
  text-align: center; /* Wycentrowanie tekstu */
  text-decoration: none; /* Brak dekoracji tekstu */
  display: inline-block; /* Wyświetlanie w linii */
  font-size: 16px; /* Rozmiar czcionki */
  margin: 4px 2px; /* Zewnętrzne odstępy */
  cursor: pointer; /* Zmiana kursora przy najechaniu */
  border-radius: 5px; /* Zaokrąglone rogi */
}

.delete-button {
  display: none;
  position: absolute;
  right: -20px; /* Pozycjonuje przycisk blisko tekstu */
  top: 50%;
  transform: translateY(-50%);
  background-color: red;
  color: white;
}

.item:hover .delete-button {
  display: inline-block;
}

ul {
  list-style-type: none; /* Usuwa domyślne style listy */
  padding: 0; /* Usuwa domyślne wcięcie */
}
